@media (max-width: 770px) {

    /* intro */
    
    .intro {
      min-height: 650px;
    }
  
    /* header */
  
    .header {
      padding: 10px 0;
    }
  
    /* nav */
    .nav {
      display: none; 
      width: 100%;
  
      text-align: center;
  
      position: absolute;
      top: 100%;
      left: 0;
  
      background-color: #f38181;
    }
    .nav.active {
      display: block;
    }
  
    .nav__link {
      display: block;
      margin: 0;
      padding: 8px 20px;
    }
  
    .nav__link:after {
      width: 80px;
      left: calc(50% - 40px);
    }
  
    .nav-toggle {
      display: block;
    }
  
    /* section */
    .section {
      padding: 40px 0;
    }
  
    .section--devices {
      padding-bottom: 0;
    }
  
    /* card */
  
    .card {
      margin-top: 50px;
      justify-content: center;
    }
  
    .card__item {
      width: 100%;
      max-width: 410px;
      margin-bottom: 30px;
    }
  
    .card__item:last-child {
      margin-bottom: 0;
    }
  
    /* slider */
    .slider__text {
      display: none;
    }
  
    .slider__item.active:before {
      width: 50%;
    }
  
    /* .services */
    .services {
      justify-content: center;
    }
  
    .services__item  {
      width: 100%;
      max-width: 400px;
  
      padding-left: 55px;
      padding-right: 0;
  
      border-bottom: 1px solid #e5e5e5;
    }
  
    .services__item:last-child {
      border: none;
    }
    .services__icon {
      left: 0;
    }
  
    /* wedo */
  
    .wedo__img {
      display: none;
    }
  
    .wedo__item {
      width: 100%;
    }
  
     /* Reviews */ 
  
     .reviews__photo {
       margin: 0 auto 20px;
       position: static;
       top: 0;
       transform: translateY(0);
     }
  
     .reviews__item {
       padding-left: 0;
     }
  
     .reviews__text {
       font-size: 16px;
     }
  
     .reviews__autor {
       font-size: 20px;
       text-align: center;
     }
  
     /* works */
  
     .works {
       flex-wrap: wrap;
     }
  
     .works__col {
       flex: none;
       width: 50%;
     }
  
     /* blog */
  
     .blog {
       max-width: 380px;
       margin: 0 auto;
     }
  
     .blog__item {
       width: 100%;
       margin-bottom: 30px;
     }
  
     .blog__item:last-child {
       margin-bottom: 0;
     }
  
     /* footer */
  
     .footer__col--second,
     .footer__col--thrid {
       width: 100%;
     }
  
  }
  
  @media (max-width: 575px) {
  
    /* intro */
  
    .intro__suptitle {
      font-size: 22px;
    }
  
    .intro__title {
      font-size: 40px;
    }
  
    /* section */ 
    .section__header {
      margin-bottom: 50px;
    }
  
    .section__suptitle {
      font-size: 20px;
    }
  
    .section__title {
      font-size: 24px;
      margin: 20px auto;
    }
  
    .section__title:after {
      margin: 20px auto;
    }
  
    /* Stat */ 
    .stat__item {
      width: 100%;
  
      border-bottom: 1px solid #b5eae0;
    }
  
    .stat__item:last-child {
      border-bottom: 0;
    }
  
    .stat__count {
      font-size: 52px;
    }
    
    /* devices */
  
    .devices {
      max-width: 320px;
    }
  
    .devices__item--iphone {
      width: 180px;
      bottom: -50px;
      right: -80px;
    }
  
    /* reviews */
  
    .reviews .slick-slider {
      padding: 0;
    }
  
    .slick-arrow {
      top: 18%;
    }
  
    .reviews__photo {
      max-width: 110px;
      max-height: 110px;
    }
  
    .reviews__text {
      font-size: 15px;
    }
  
    /* logos */
  
  
    /* blogs */
  
    .blogs__img {
      width: 80px;
      height: 50px;
    }
  
    
  }
  
  